.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}
.App-img {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  background: url('https://media.relaischateaux.com/public/hash/3c696c1e5d75a3f15b800a849385a205e30e4011');
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-body {
  background-color: #e8f5d9;
  /* background: url('https://media.relaischateaux.com/public/hash/3c696c1e5d75a3f15b800a849385a205e30e4011'); */
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(105, 105, 105);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
